.topnav {
  background-color: #07689F;
  overflow: hidden;
}

.initiate {
  background-color: lightseagreen;
}

.stuff {
  background-color: grey;
}

button.center {
  border-style: solid;
}

.column #logo {
  display: none;
}

.column #title {
  display: none;
}

.topnav a {
  float: left;
  color: #D4D6C8;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #E9E9E5;
  color: #52524E;
}

.topnav .active {
  background-color: #FF7E67;
  color: #FAFAFA;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

p.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

button.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

h1 {
  font-family: "Lucida Console";
  text-align:center;
}

p {
  font-family: "Lucida Console";
}

ol {
  font-family: "Lucida Console";
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
}

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%
}

img.showing {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div.container {
  text-align: center;
  padding: 10px 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}